doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../style/style.css")
    body 
        .slider 
            .slider_true 
                .slider_window 
                        .pictures 
                            img(src="../images/1_2937.png", alt="sosi")
                            img(src="../images/1_2955.png", alt="sosi")
                            img(src="../images/81642.jpg", alt="sosi")
                            img(src="../images/sputnik.png", alt="sosi")
                    
                .buttons 
                    button.prew.btn Previos 
                    button.next.btn Next 
                    div
                        div.bar
                            div.full
                                input(type='range' min='0' max='100' value='0')
                                div.thumb 
                            
                     
        button привет
        script(src='../script/script.js')
       
                    

